__pycache__
.DS_Store
*~
save/
png/
results/
beacon/doc/*.aux
beacon/doc/*.out
beacon/doc/*.auxlock
beacon/doc/*.log
beacon/doc/*.pdf
beacon/doc/*.gz
beacon/doc/*.toc
beacon/doc/ext/*.dep
beacon/doc/ext/*.dpth
beacon/doc/ext/*.md5
beacon/doc/ext/*.log
beacon/doc/ext/*.pdf
beacon/doc/*/*.log
beacon/doc/layout/frontpage/*.aux
beacon/doc/layout/frontpage/*.log
beacon/doc/layout/frontpage/*.pdf
beacon/doc/layout/frontpage/*.gz
beacon/doc/*.bbl
beacon/doc/*.blg
beacon/doc/_minted-doc
beacon/*/*.png
*.dat